* {
    margin: 0%;
}

/* ESTE ES EL ESTILO PARA QUE EL BOTÓN VUELVA ARRIBA */
.volver-arriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: rgb(253, 171, 48);
    font-size: 100px;
}

/* ESTE ES EL ESTILO PARA LA LÍNEA HORIZONTAL HR */
hr {
    margin: auto;
    width: 75%;
    margin-top: 100px;
    margin-bottom: 100px;


}

/* ACÁ COMIENZA CSS PARA HEADER */

header {
    width: 100%;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

header img {
    width: 250px;
}

/* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

nav li a {
    display: block;
    color: #696464;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    padding: 5px;
}

nav li {
    border-left-color: rgb(26, 147, 163);
    border-left-width: 3px;
    border-left-style: dashed;
    padding-left: 20px;
    padding-right: 20px;
}

nav li i {
    font-size: 25px;
    color: #696464;


} */
/* Estilos básicos para el menú */
/* nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
    flex-direction: column; /* Cambia a columna */
    /* align-items: center; 
    position: fixed; 
    top: 0;
    right: 0;
    width: 100%; 
    height: 100vh; 
    padding-top: 50px; 
    text-align: center; 
    transition: all 0.3s ease; 
    display: none; /* Ocultar inicialmente */
  /* }
  
  nav li a {
    display: block;
    color: #696464;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    padding: 5px;
  }
  
  nav li {
    border-left-color: rgb(26, 147, 163);
    border-left-width: 3px;
    border-left-style: dashed;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  nav li i {
    font-size: 25px;
    color: #696464;
  }
   */
  /* Estilos para el icono del menú hamburguesa */
  /* #menu-toggle {
    display: none;
  }
  
  #menu-toggle:checked + label span {
    background: #fff;
  }
  
  #menu-toggle:checked + label span:nth-child(1) {
    transform: rotate(45deg);
    top: 8px;
  }
  
  #menu-toggle:checked + label span:nth-child(2) {
    opacity: 0;
  }
  
  #menu-toggle:checked + label span:nth-child(3) {
    transform: rotate(-45deg);
    top: -8px;
  } */
  
  /* Mostrar el menú cuando el checkbox esté marcado */
  /* #menu-toggle:checked ~ nav {
    display: block; /* Mostrar el menú */
    /* flex-direction: column; /* Mantener la columna al abrir */
  } */ */
  
  /* Ajustar el diseño del menú para pantallas pequeñas */
  /* @media (max-width: 768px) {
    #menu-toggle {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 1;
    }
  } */ */ */
/* ACÁ FINALIZA EL ESTILO DEL HEADER */




/* ACÁ COMIENZA PARA EL MAIN Y SUS SECCIONES */

.consulta {
   width: 100%;
   background-image: url(./Images/consultanos.png);
 /* background-size: cover;
        background-repeat: no-repeat;
    padding: 20px; */
}

main section h1 {
    text-align: left;
    color: white;
    font-size: 40px;
    padding: 10px;
    text-shadow: 5px 5px 10px black;

}

.consulta p {
    text-align: left;
    font-size: 18px;
    padding: 2px;
    color: #ffffff;

}

main section button {
    text-align: left;
    color: rgb(0, 0, 0);

    font-size: 20px;
    padding: 20px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: rgb(0, 0, 0 / 50%);

}

/* COMIENZO DE LA SECCION SERVICIOS */
.tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 250px;
    background-color: rgb(255, 255, 255);
    margin: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #000000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.card i {
    font-size: 50px;
    text-align: center;
    color: rgb(223, 160, 24);
    margin-bottom: 20px;



}

.card h4 {
    color: grey;
    text-transform: uppercase;
    text-align: center;

}

.card p {
    font-size: 13px;
    color: gray;
    text-align: justify;
    text-indent: 40px;
    line-height: 25px;
    margin-top: 20px;

}

/* FIN DE LA SECCION SERVICIOS */




/* INICIO DEL FORMULARIO */

.formulario {
    line-height: 40px;
    padding: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #20b2ff;
}

input {
    margin-left: 100px;
}

label {
    margin-left: 100px;
}

textarea {
    margin-left: 100px;
    width: 400px;
    height: 200px;
}



/* FIN DEL FORMULARIO */

/* INICIO DE LA SECCION SOBRE NOSOTROS */
.nosotros {
    background-color: #7ed958;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
    align-content: center;

}

.texto_nosotros {
    width: 40%;
}

.nosotros img {
    width: 300px;
    border-radius: 40px;

}

.nosotros p {

    line-height: 30px;
    text-align: justify;
    text-indent: 100px;
}

/* INICIA LA SECCION PRODUCTOS */
#seccion_compras {

    width: 100%;
    height: auto;

}
.listado-productos {
    /* padding: 5em; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


}

.listado-productos article {
    width: 15em;
    /* height: 20em; */
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5px;
    box-shadow: 0px 2px 5px #000000;
    margin: 1em;
}


.listado-productos article:hover {
    box-shadow: 0px 0px 2px #f8c724;
}


.listado-productos img {
    width: 10em;
    margin: auto;
}

.listado-productos h3 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;

}

.listado-productos p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.listado-productos button {
    background-color: #20b113;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}
 .listado-productos a {
    text-decoration: none;
    color: #f7c111;
    text-align: center;
    font-size: 50px;
}
#f_precio{
    color: #000000;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

/* COMIENZO DEl FOOTER  */

footer {
    width: 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: rgb(253, 171, 48);
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    color: #7a7979;
}

footer p {
    font-size: 20px;

}

.columna {
    width: 200px;
    margin: 20px;
    text-align: left;

    line-height: 40px;
}

.columna i {
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 25px;
    margin-left: 75px;
}

.columna ul {
    list-style: none;
}

.columna li {
    line-height: 40px;
    margin: 0%;
}

.columna h3 {
    color: #141414;
    text-decoration: underline;
}

#icono_footer {
    color: #ffffff;
    font-size: 20px;
    margin-left: 0%;
    margin-right: 5px;
}

/* FIN DE LA SECCION FOOTER  */


/* ESTILOS PARA EL CARRITO DE COMPRAS */
.header_carrito{
width: 100%;
height: auto;

}

table{
    border-collapse: collapse;
    border: 1px solid #000;
    width: 100%;
}
th{
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
} 
td{
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}
thead{
    background-color: #ffbb00;
}


#carrito {
    margin-top: 20px;
}

#lista-carrito {
    list-style: none;
    padding: 0;
}

#lista-carrito li {
    background-color: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

#vaciar-carrito {
    margin-top: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#vaciar-carrito:hover {
    background-color: darkred;
}